
.page-activity {
  padding-top: 120px;
}

.menu {
  background-color: #2D947A;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 60px;
  z-index: 900;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu ul li {
  margin: 0 10px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  display: block;
  padding: 10px;
}

.menu ul li a:hover {
  color: red;
}

.menu-toggle {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #2D947A;
  color: #fff;
}

.text-banner-1-2-3 {
  text-align: center;
  margin-bottom: 40px;
}

.text-banner-1-2-3 p {
  font-weight: bold;
  font-size: 32px;
  color: #2D947A;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.banner-activity {
  display: flex;
  flex-direction: column;
}

.banner-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 0;
}

.banner-item:nth-child(even) {
  flex-direction: row-reverse;
}

.item-content, .item-image {
  flex: 1;
  padding: 20px;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.item-content .text-1 {
  font-size: 22px;
  font-weight: bold;
  color: #2D947A;
  margin-bottom: 10px;
}

.img-activity {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-activity:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  .menu ul.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .menu ul li {
    margin: 10px 0;
  }

  .menu ul li a {
    padding: 10px;
    font-size: 16px;
  }
  .item-content p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .text-banner-1-2-3 > p {
    font-size: 22px;
    font-weight: bold;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  .menu ul.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .menu ul li {
    margin: 10px 0;
  }

  .menu ul li a {
    padding: 10px;
    font-size: 16px;
  }
  .item-content p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .text-banner-1-2-3 > p {
    font-size: 15px;
  }

  .menu ul li a {
    font-size: 14px;
  }
  .item-content p {
    font-size: 10px;
    visibility: initial;
  }
}