.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
}

.contact-container {
  text-align: center;
  flex: 1;
  align-content: center;
}
.map-container{
  flex: 2;  
}

.contact-heading {
  font-size: 1.5em;
  margin: 10px 0;
  color: #2d947a;
  
}

.contact-info {
  font-size: 1em;
  margin: 5px 0;
}

.contact-map {
  width: 50%;
  height: 350px;
  max-width: 100%;
  margin: 20px 0;
  border: 0;
}

@media (max-width: 600px) {
  .contact-container {
    padding: 0 10px;
  }

  .contact-heading {
    font-size: 1.2em;
  }

  .contact-info {
    font-size: 0.9em;
  }

  .contact-map {
    height: 300px;
    width: 100%; 
  }
}
